{% extends 'base.html' %}

{% block contenido %}
	<div class="container-fluid">
		<h1>Turnos INCOV</h1>
		<H3>Una plataforma que optimiza tu tiempo y el cuidado de tus clientes, proveyendo un fuerte sistema de</H3>
		<h3>gestión de turnos que cuida por sobre todo la experiencia de usuario.</h3>
		<img src="/media/imagen_tiempo.png" class="img-fluid" alt="" srcset="">
		<img src="/media/imagen_plan.png" class="img-fluid" alt="" srcset="">
		<h2>FUNCIONAMIENTO Y SERVICIOS</h2>
		<img src="/media/Indumentaria.png" alt="" srcset="">
		<h3>INDUMENTARIA</h3>
		<img src="/media/Peluquerias.png" alt="" srcset="">
		<h3>PELUQUERIAS</h3>
		<img src="/media/Restaurante.png" alt="" srcset="">
		<h3>RESTAURANTES</h3>
		<img src="/media/Bares.png" alt="" srcset="">
		<h3>BARES</h3>
		<img src="/media/Gimnasio.png" alt="" srcset="">
		<h3>GIMNASIOS</h3>
		<h4>
			El cliente entra a la web y puede tomar su turno en menos de 3 minutos.
		</h4>
		<img src="/media/persona 1.png" alt="" srcset="">
		<img src="/media/flechanegra 2.png" alt="" srcset="">
		<img src="/media/Calendario.png" alt="" srcset="">
		<img src="/media/flechanegra 2.png" alt="" srcset="">
		<img src="/media/mujer 1.png" alt="" srcset="">
	</div>	
{% endblock %}