{% extends 'base.html' %}
{% block contenido %}
    <div class="container justify-content-center">
        <h1 class="text-center text-light pt-3 font-weight-bold">Sobre nosotros</h1>
    </div>

    <div class="container bg-white">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <img src="" alt="" srcset="">
                    <h3>Balbiano, Renzo</h3>
                    <h6>Desarrollador</h6>
                </div>
                <div class="row">
                    <img src="" alt="" srcset="">
                    <h3>Blanco, Augusto</h3>
                    <h6>Desarrollador</h6>
                </div>
                <div class="row">
                    <img src="" alt="" srcset="">
                    <h3>Benolol, Alejandro David</h3>
                    <h6>Desarrollador</h6>
                </div>
                <div class="row">
                    <img src="" alt="" srcset="">
                    <h3>Desza, Joaquin</h3>
                    <h6>Desarrollador</h6>
                </div>
                <div class="row">
                    <img src="" alt="" srcset="">
                    <h3>Naidenoff Cristoff, Damian</h3>
                    <h6>Desarrollador</h6>
                </div>
                <div class="row">
                    <img src="" alt="" srcset="">
                    <h3>Ortiz, Luciano</h3>
                    <h6>Desarrollador</h6>
                </div>
                <div class="row">
                    <img src="" alt="" srcset="">
                    <h3>Toñanes, Franco</h3>
                    <h6>Desarrollador</h6>
                </div>
                <div class="row">
                    <img src="/media/nosotros/WhatsApp Image 2020-06-10 at 15.46.21.jpeg" alt="" srcset="" style="width: 100px; height: 100px;">
                    <h3>Carlos Salinas</h3>
                    <h6>Desarrollador</h6>
                </div>
            </div>
            <div class="col-6">
                <h4>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium tempora similique, dolores magnam expedita nam culpa architecto. In ea dignissimos aperiam architecto repudiandae laboriosam deserunt officiis nulla, fugiat, tenetur aliquam?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic numquam illo provident sequi quae. Amet molestias atque quis officiis praesentium similique, earum vero, quaerat, obcaecati dolorem cupiditate ab eum perferendis?
                </h4>
            </div>
        </div>
    </div>
{% endblock %}