{% extends 'base.html' %}

{% block contenido %}

			<h1>SOY TODAS LAS EMRPESAS DEL DUEÑO</h1>

			<h1>Filtros</h1>
			<form action="" method="get">
				{% for r in rubros %}
					<button name="filtro" type="submit" value="{{r.id}}">{{r.nombre}}</button>
				{% endfor %}
			</form>

			<h1>Empresas</h1>
			{% for p in empresas %}
				{% if user == p.DNI %}
					<p><b>Nombre: </b>{{p.Nombre}}</p>
					<p><b>Direccion: </b>{{p.Direccion}}</p>
					<p><b>Telefono: </b>{{p.Telefono}}</p>
					<p><b>Pagina: </b>{{p.PaginaWeb}}</p>
					<p><b>Email: </b>{{p.Email}}</p>
					<p><b>Horarios: </b></p>
					{% if p.HorarioPrimeroAbre%}
					<p>Por la mañana: {{p.HorarioPrimeroAbre}} a {{p.HorarioPrimeroCierra}}</p>
					{% endif %}
					{% if p.HorarioSegundoAbre%}
					<p>Por la tarde: {{p.HorarioSegundoAbre}} a {{p.HorarioSegundoCierra}}</p>
					{% endif %}
					{% if p.Imagen %}
						<p><b>Imagen: </b></p>
						<img src="{{p.Imagen.url}}" width="200" height="200">
					{% else %}
						<p>NO TENGO IMAGEN</p>
					{% endif %}
					<p><b>Ver turnos solicitados: <a class="dropdown-item" href="{% url 'turnos:listar' %}">Ver turnos</a></p> <!-- VERIFICAR -->
					<p><b>Modificar: </b><a class="dropdown-item" href="{% url 'empresa:modificar' p.CUIT%}">MODIFICAR</a></p>
					<p><b>Eliminar: </b><a class="dropdown-item" href="{% url 'empresa:eliminar' p.CUIT%}">ELIMINAR</a></p>
				{% else %}
					<p>No tiene locales registrados</p>
				{% endif %}
			{% endfor %}

{% endblock %}