{% extends 'base.html' %}

{% block contenido %}

        <div class="container justify-content-center">
            <h1 class="text-center">Solicitar Turno</h1>
        </div>
        

        <form action="" method="get" class="">
            <nav class="navbar navbar-expand-sm bg-none navbar-none justify-content-center">
                <ul class="navbar-nav">
                    {% for r in rubros %}
                        <li class="nav-item active btn-group btn-group-lg">
                            <button name="filtro" type="submit" class="btn btn-light bg-light rounded-0 pl-4 pr-4" value="{{r.id}}">{{r.nombre}}</button>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </form>
        <br>
        <br>
        <div class="container">
            {% for p in empresas %}
            <div class="container d-flex flex-row border border-dark rounded" style="height: 200px; display: inline;">
                <div class="container col-2 rounded align-middle">
                    {% if p.Imagen %}
					    <img class="" src="{{p.Imagen.url}}" width="150" height="150">
				    {% else %}
					    <p>NO TENGO IMAGEN</p>
                    {% endif %}
                </div>
                
                <div class="container col-4 align-middle">
                    <h2 class="mt-2">{{p.Nombre}}</h2>
                    <span><b>Direccion: </b>{{p.Direccion}}</span>
                    <br>
                    <span><b>Horarios:</b> 
                    {% if p.HorarioPrimeroAbre%}
					    {{p.HorarioPrimeroAbre}} a {{p.HorarioPrimeroCierra}}
				    {% endif %}
                    {% if p.HorarioSegundoAbre %}
                        {% if p.HorarioPrimeroAbre and p.HorarioSegundoAbre%}
                            |
                        {% endif %}
					    {{p.HorarioSegundoAbre}} a {{p.HorarioSegundoCierra}}
                    {% endif %}
                    </span>
                    <br>
                    <span><b>Telefono: </b>{{p.Telefono}}</span>
                </div>

                <div class="container col-6 justify-content-center mx-auto align-middle">
                    <a class="rounded bg-danger pl-3 pr-3 pt-2 pb-2" href="{% url 'turnos:solicitar' p.CUIT%}">Ver turnos disponibles</a>
                </div>

                <!-- <p><b>Pagina: </b>{{p.PaginaWeb}}</p>
				<p><b>Email: </b>{{p.Email}}</p> -->
            </div>
            <br>
            {% endfor %}
        </div>
{% endblock %}